@import './base.css';

#app {
  max-width: 80rem;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
a:hover { background-color: hsla(160, 100%, 37%, 0.2) }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;

  article {
    padding: 1rem;
    background-color: #111;
    border-radius: 0.5rem;
  }
}
@media (min-width: 20rem) {
  .grid { grid-template-columns: 1fr 1fr }
}
@media (min-width: 40rem) {
  .grid { grid-template-columns: 1fr 1fr 1fr }
}
@media (min-width: 60rem) {
  .grid { grid-template-columns: 1fr 1fr 1fr 1fr }
}

.group { margin-top: 0.25rem }

.label { color: cadetblue }
